<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688728321435-h0a0sr53l0m9pon5kb21fpe5svo892s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688728321435-h0a0sr53l0m9pon5kb21fpe5svo892s7</string>
	<key>API_KEY</key>
	<string>AIzaSyBPXZdu6LZggyN1Ugs8ZAP3lU0UfCnKK0M</string>
	<key>GCM_SENDER_ID</key>
	<string>688728321435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hugosilvag6.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-2ae22</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-2ae22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688728321435:ios:9a21d0acd57d754c14453e</string>
</dict>
</plist>